
MyCppGame/proj.win32/Debug.win32/zlib1.dll
MyCppGame/proj.win32/MyCppGame.VC.db
MyCppGame/proj.win32/Debug.win32/sqlite3.lib
MyCppGame/proj.win32/Debug.win32/MyCppGame.tlog/MyCppGame.lastbuildstate
*.lib
*.pdb
*.dll
*.tlog
*.exp
*.obj
*.idb
*.log
MyCppGame/proj.win32/Debug.win32/res/.gitkeep
MyCppGame/proj.win32/Debug.win32/MyCppGame.vcxprojResolveAssemblyReference.cache
*.exe
*.ilk
*.res
*.cache
*.png
*.ttf
MyCppGame/proj.win32/.vs/MyCppGame/v14/.suo
